<h1>Formulário</h1>
<form action="/edit-pagamento/{{pagamentos.id}}" method="POST">

    ID: {{pagamentos.id}}
    <label>Nome</label>
    <input type="text" name="nome"value="{{pagamentos.nome}}"><br><br>
    <label>Valor</label>
    <input type="text" name="valor" value="{{pagamentos.valor}}"><br><br>
    <button type="sumbit">Atualizar</button>
</form>